.startDateTimeRow {
  display: flex;
  gap: var(--pf-t--global--spacer--sm);
  align-items: flex-end;
  flex-wrap: wrap;
}

.timeInput {
  flex: 0 0 9rem;
}

.timezoneSelect {
  flex: 1 1 10rem;
}

.intervalInput {
  max-width: 10rem;
}
